<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>

<table class="table">

    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Department</th>
        <th scope="col">Salary</th>
        <th scope="col">Operations</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="emp: ${allEmps}">

        <td th:text="${emp.name}"/>
        <td th:text="${emp.surname}"/>
        <td th:text="${emp.department}"/>
        <td th:text="${emp.salary}"/>
        <td>
            <a th:href="@{/updateInfo(empID=${emp.id})}">
            <button type="submit">Update</button>
            </a>

            <a th:href="@{/deleteEmployee(empID=${emp.id})}">
                <button type="submit">Delete</button>
            </a>
        </td>

    </tr>
    </tbody>

</table>
<input type="button" value="Add"
       onclick="window.location.href = 'addNewEmployee'"/>
</body>
</html>